/* GLOBALS */

/* fonts - colors */
:root {
  --font-inter: "Inter", sans-serif;
  --limegreen: #1db489;
  --brightred: #dc414c;
  --yellow: #fadd00;
  --dark-bg: #1e202a;
  --dark-top-bg: #1f212e;
  --dark-card: #252a41;
  --dark-text1: #8b97c6;
  --dark-text2: #fff;
  --light-bg: #fff;
  --light-top-bg: #f5f7ff;
  --light-card: #f0f2fa;
  --light-text1: #63687e;
  --light-text2: #1e202a;
}

/* boilerplate */
html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
:after,
:before {
  box-sizing: inherit;
}
body {
  background: var(--dark-bg);
  color: var(--dark-text2);
  font-family: var(--font-inter);
  margin: 0;
  padding: 0;
}

/* typography */
h1,
h2,
h3 {
  line-height: 1.1;
  margin-top: 0;
}
h1 {
  font-size: 1.5rem;
  margin-bottom: 0.1875rem;
}
@media (min-width: 71.875em) {
  h1 {
    font-size: 1.75rem;
  }
}
a,
a:active,
a:visited {
  text-decoration: none;
}

/* layout */
.container {
  margin: 0 auto 2.875rem;
  max-width: 69.375rem;
  padding: 0 1.5625rem;
}
@media (min-width: 71.875em) {
  .container {
    padding: 0;
  }
}

/* COMPONENTS */

/* cards */
.cards {
  display: grid;
  gap: 1.875rem;
  grid-template-columns: 1fr;
}
@media (min-width: 40em) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 71.875em) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}

/* header */
.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.25rem;
}
@media (min-width: 40em) {
  .header {
    align-items: center;
    justify-content: space-between;
  }
}
.header__title {
  width: 100%;
}
@media (min-width: 40em) {
  .header__title {
    width: auto;
  }
}
.header__subtitle {
  color: var(--dark-text1);
  font-size: 0.875rem;
  font-weight: 700;
}

/* modal */
.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity 0.3s ease;
  width: 100vw;
}
.modal--show {
  opacity: 1;
  pointer-events: auto;
}
.modal__title {
  text-transform: uppercase;
}
.modal__content {
  background: var(--dark-card);
  border-radius: 5px;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  color: var(--dark-text1);
  max-width: 100%;
  padding: 30px 50px;
  text-align: center;
  width: 600px;
}

/* button */
.btn {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 16px;
  text-transform: uppercase;
  vertical-align: middle;
}
.modal-close-btn {
  background-color: var(--yellow);
  color: #fff;
}